# Dependencies
node_modules/
.pnp/

#Files
TwilioRecovery.rtf
Building/Keys.md
Building/superherocpr-app_accessKeys.csv

# Build output
dist/
build/
.next/
.turbo/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# Full env wildcard
.env*
!.env.example

# Playwright
apps/web/tests/.auth/
apps/web/playwright-report/
apps/web/test-results/